.collectionItem {
  display: flex;
  flex-direction: column;
  width: 22vw;
  position: relative;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &__figure {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      content: "";
      background: #333;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover::after {
      opacity: 0.4;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &:hover {
    .collectionItem__btn {
      opacity: 0.7;
      visibility: visible;
      transform: translate(-50%, -90%);
    }
  }

  &__btn {
    background: #fff;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    padding: 1.5rem 0;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out, margin 0.1s ease;
    z-index: 1;
    font-size: 16px;

    text-transform: capitalize;

    &:active {
      margin-top: 2px;
    }

    &:focus {
      outline: none;
    }
    &:hover {
      background: #000;
      color: #fff;
      opacity: 1 !important;
    }
  }
}
