.custom-button {
  min-width: 165px;
  width: auto;
  margin: 0 0.2rem 0.5rem 0;
  letter-spacing: 0.5px;
  padding: 1.2rem;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: lighter;
  border: 1px solid transparent;

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google {
    background: #4285f4;
    font-size: 1.2rem;

    &:hover {
      background: #357ae8;
      border: none;
      color: white;
    }
  }
}
